nav ul{
  background-color:rgba(250, 250, 250, 1);
   overflow: hidden;
}

li{
    list-style: none;
   float: left;
}


nav ul li a{
    display: block;
    text-decoration: none;
    padding: 12px;
    color:black; 
    font-size: 18px;
    font-weight: 500;
}

li a:hover{
  background-color:rgb(213, 0, 0);
}
.colo{
 color: black;
    font-weight:900;
    font-size: 25px;
    float: right;
    padding:12px 65px 12px 70px;
}
.colo:hover{
    background-color:rgba(250, 250, 250, 1); }
