body{
   /* text-align: center;*/
    background-color:rgb(245, 245, 245); 
   
}
nav ul{
  background-color:rgba(250, 250, 250, 1);
   overflow: hidden;
}

li{
    list-style: none;
   float: left;
}


nav ul li a{
    display: block;
    text-decoration: none;
    padding: 15px;
    padding-left:27px ;
    color:black; 
    font-size: 18px;
    font-weight: 900;
    text-shadow: 0 0 0 black;
}

li a:hover{
  background:linear-gradient(rgb(245, 245, 245),rgb(213, 0, 0) );
}
.colo{
    margin-left:7px;
 color: black;
    font-weight:900;
    font-size: 25px;
    /*float: right;
    padding:12px 65px 12px 70px;*/
      text-shadow: 1px 2px 5px red;
    background-color:rgb(245, 245, 245);
}
.colo:hover{
    background-color:rgb(245, 245, 245); 
}

 div{
border-color:black;
    border-radius:0;
    border-style: double;
    border-width:thick;
    margin: 100px;
    background-color: white;
     padding:50px 165px 210px;
      background-color:rgb(245, 245, 245);
}
div a{
   color:black; 
    font-size: 20px;
    font-weight: 900; 
    /*margin-bottom: 50px;*/
    float: right;
    text-shadow:3px 3px 7px black; 
    padding:0px 70px 100px;
}
/*
h2{
   text-shadow: 1px 2px 5px red;  
}

form{
border-color:rgb(213, 0, 0);
    border-radius:100px;
    border-style: double;
    border-width:thick;
    margin: 50px 300px ;
    background-color: white;
}

input{
 /* padding: 10px;
   /* margin:50px 0 20px 900px;*/
    padding: 0 30px;
    margin: 35px 30px;
    font-size:20px ;
}
label{
   font-weight: 900;
    font-size: 20;
}
p{
  color: rgb(213, 0, 0);
    font-size: ;
    font-weight: 600;
}
h2{
    margin-top: 20px;
  font-size: 30px;  
}
.color{
    background-color:black;
    color: white;
}
.color:hover{
    background-color:rgb(213, 0, 0);
    color: white;
}